<!DOCTYPE html>
<html lang="en">
<head>
   {% if title %}
     <title>{{title}}</title>
{%else%}
    <title>Home</title>
{%endif%}
    <meta name="viewport" content="interactive-widget=resizes-content" />
    <link rel="stylesheet" href="/static/groceries.css">
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="{{url_for('boodschappenlijst')}}">Boodschappenlijst</a></li>
            <li><a href="{{url_for('onderhoud')}}">Onderhoud</a></li>
        </ul>
    </nav>
    
    {% block content %}


    {% endblock %}
</body>
</html>